[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third_party/bazel_examples"]
	path = third_party/bazel_examples
	url = https://github.com/bazelbuild/examples.git
